.popup {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
}

.popup-content {
	background: #3F5EFB;
	background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.close {
    float: right;
    font-size: 24px;
    cursor: pointer;
}
